<!doctype html>
<html lang="en" class="no-js" ng-app="greenbahai">

<head>
    <meta charset="utf-8">
    <title>Building Green Baha'i Communities</title>
    <meta name="description"
        content="GreenBahai.com is an individual initiative dedicated to sustainability and climate action from Baha'i perspectives.">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="styles/bootstrap.1ef3d174.css">
    <link rel="stylesheet" href="styles/main.67adc9fb.css">

<body ng-controller="TabsCtrl"> <!--[if lt IE 7]>
            <p class="browsehappy">You are using an
                <strong>outdated</strong>browser. Please
                <a href="http://browsehappy.com/">upgrade your browser</a>to improve your experience.</p>
        <![endif]-->
    <div class="container header">
        <div class="row">
            <div class="col-xs-12">
                <h1>Building Green Bah&aacute;&#39;&iacute; Communities</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 headline">
                <h2 ng-bind-html="headline"></h2>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="nav">
            <ul>
                <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)"> <a
                        href="{{tab.url}}" onclick="return false">{{tab.title}}</a> </li>
            </ul>
        </div>
        <div class="mainView" data-ng-view="">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <div class="container footer">
        <div class="row">
            <div class="col-xs-9">
                <p>GreenBahai.com is an individual initiative, not directly affiliated with any institutions of the
                    Bah&aacute;&#39;&iacute; Faith. Quotations from the Bah&aacute;&#39;&iacute; writings are <a
                        href="https://bahai-library.org/uhj_permission_electronic_texts/">used by permission</a>, and
                    unless otherwise noted, are Copyright &copy; 2004-7, <a
                        href="https://www.bic.org/">Bah&aacute;&#39;&iacute International
                        Community</a>, All Rights Reserved.</p>
                <p>Other content is Copyright &copy; 2013-2014 by T. Homayoun and <a href="http://www.safnet.com/">S.
                        Fuqua</a>. The background photo is from the <a href="https://www.ganbahai.org.il">gardens on
                        the slopes of Mt. Carmel</a>, taken by the authors while on pilgrimage in 2010.</p>
            </div>
            <div class="col-xs-3">
                <p> <a rel=" license" href="https://creativecommons.org/licenses/by/4.0/deed.en"> <img
                            alt="Creative Commons License" style="border-width:0"
                            src="https://i.creativecommons.org/l/by/3.0/88x31.png"> </a> <br>This work is licensed under
                    a <a rel="license" href="https://creativecommons.org/licenses/by/4.0/deed.en">Creative Commons
                        CC BY 4.0 Deed Attribution 4.0 International License</a>.</p>
            </div>
        </div>
    </div>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7TGV0JXTZY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7TGV0JXTZY');
    </script>
    <script src="scripts/vendor.a971d8ea.js"></script>
    <script src="scripts/scripts.abfabdde.js"></script>
</body>

</html>
