<h2>Spiritual Laws and Admonitions for Sustainable Living</h2>
<p>
    A presentation on laws and admonitions from the writings and talks of Bah&aacute;&#39;u&#39;ll&aacute;h and `Abdu'l-Bah&aacute;
    relating to the natural world; treatment of animals; education; consumption and moderation; distribution of wealth; and
    consultation.
    <ul>
        <li><a href="files/Spiritual-Laws-and-Admonitions-for-Sustainable-Living.pptx">PowerPoint</a></li>
        <li><a href="https://www.slideshare.net/StephenFuqua/spiritual-laws-and-admonitions-for-sustainable-living">Slideshare</a></li>
    </ul>
</p>
<h2>Environmental Ethics and Behavior Deriving from Writings of `Abdul-Bah&aacute;</h2>
<p>This presentation highlights quotations related to themes of intersectionality; interdependence; kindness to animals;
    eating meat; clean air; burial; cultivation of the Earth; and implications of these for ethics and behavior.
</p>
<ul>
    <li><a href="Environmental-Ethics-and-Behavior-Deriving-from-Writings-of-Abdul-Baha.pptx">PowerPoint</a></li>
    <li><a href="https://www.slideshare.net/StephenFuqua/environmental-ethics-and-behavior-deriving-from-writings-of-abdul-baha">SlideShare</a></li>
</ul>
<h2>Faithful Call to #ActOnClimate Change</h2>
<p>Celebrating the Papal encyclical <a href="http://w2.vatican.va/content/francesco/en/encyclicals/documents/papa-francesco_20150524_enciclica-laudato-si.html">Laudato
        Si
    </a>&nbsp;with a presentation for the <a href="https://www.irvingbahai.org" target="_blank">Bah&aacute;&#39;&iacute;s of Irving</a>
    and Dallas Interfaith Power and Light. Addresses common
    themes from various religious responses to climate change; call to action; prevention; awareness and advocacy; and individual
    action to show support for international action.</p>
<ul>
    <li> <a href="files/FaithfulCallto#ActOnClimate.pptx">PowerPoint</a> </li>
    <li> <a href="files/FaithfulCallto#ActOnClimate.pdf">PDF</a> </li>
    <li> <a href="http://www.slideshare.net/StephenFuqua/faithful-call-to-act-onclimate" target="_blank">SlideShare</a> </li>
</ul>
<h2>Moral Imperatives for Climate Action from a Bah&aacute;&#39;&iacute; Perspective</h2>
<p>A presentation originally dedicated to the National Preach-in on Climate Change (2014).</p>
<ul>
    <li>Version 3: <a href="https://www.slideshare.net/StephenFuqua/moral-imperatives-for-climate-action-from-a-bahai-perspective-v3"
            target="_blank">Slideshare</a>, <a href="files/MoralImperativeBahaiPerspective_v3.pdf" class="inline">PDF</a>, <a
            href="files/MoralImperativeBahaiPerspective_v3.pptx">PowerPoint</a>(Oct 2014, Arlington)</li>
    <li>Version 2: <a href="files/MoralImperativeBahaiPerspective_v2.pdf" class="inline">PDF</a>(May 2014, Lewisville)</li>
    <li>Version 1: <a href="files/MoralImperativeBahaiPerspective.pdf" class="inline">PDF</a>(Feb 2014, Irving and Austin)</li>
    <li> <a href="/#/sources" class="inline">Works cited</a> </li>
    <li> <a href="files/NineIdeasActions_GreenBahaiCom_1Page.pdf" class="inline">"Nine Ways..."</a>as a single page handout
        (PDF)</li>
</ul>
<h2>Eco-spiritual Integration: Three Texts</h2>
<p> <a href="https://blog.safnet.com/archive/2015/01/04/eco-spiritual_integration_three_texts_1/">Eco-spiritual Integration:
        Three Texts</a> is an essay on fragmented lifestyles in relation to environmental awareness, with reflection on three
    passages from the Bah&aacute;&#39;&iacute; writings. </p>
