<h2>Sources for <i>Moral Imperatives for Climate Action from a Bah&aacute;&#39;&iacute; perspective</i></h2>


<p>
    &bprime;Abdu&apos;l-Bah&aacute;, in <i>Huq&uacute;qu&apos;ll&aacute;h &ndash; The Right of God</i>, Compiled by the
    Research Department of the Universal House of Justice, Bah&aacute;&apos;&iacute; World Centre, April 2007. <a
        href="http://reference.bahai.org/en/t/c/HC/">online access</a>.
</p>

<p>
    &bprime;Abdu&apos;l-Bah&aacute;, <i>Paris Talks</i>, UK Bah&aacute;&apos;&iacute; Publishing Trust, 1972 eleventh
    edition reprint. <a href="http://reference.bahai.org/en/t/ab/PT/">online access</a>.
</p>

<p>
    &bprime;Abdu&apos;l-Bah&aacute;, <i>The Promulgation of Universal Peace</i>. Wilmette, IL:
    Bah&aacute;&apos;&iacute; Publishing Trust, 1922, 2nd edition 1982, p. 298-99. <a
        href="http://reference.bahai.org/en/t/ab/PUP/">online access</a>.
</p>

<p>&bprime;Abdu&apos;l-Bah&aacute;, <i>Selections from the Writings of &bprime;Abdu&apos;l-Bah&aacute;</i>,
    Bah&aacute;&apos;&iacute; World Centre, 1982 lightweight edition. <a
        href="http://reference.bahai.org/en/t/ab/SAB/">online access</a>.</p>



<p>
    Bah&aacute;&apos;u&apos;ll&aacute;h, <i>Gleanings from the Writings of Bah&aacute;&apos;u&apos;ll&aacute;h</i>,
    Wilmette, IL: Bah&aacute;&apos;&iacute; Publishing Trust, 1990 pocket-size edition. <a
        href="http://reference.bahai.org/en/t/b/GWB/">online access</a>.
</p>

<p>
    Bah&aacute;&apos;u&apos;ll&aacute;h, <i>The Hidden Words of Bah&aacute;&apos;u&apos;ll&aacute;h</i>, Wilmette, IL:
    Bah&aacute;&apos;&iacute; Publishing Trust, 1985 reprint, p20.
</p>

<p>
    Bah&aacute;&apos;u&apos;ll&aacute;h, <i>
        Tablets of Bah&aacute;&apos;u&apos;ll&aacute;h Revealed After the
        Kit&aacute;b-i-Aqdas
    </i>, Wilmette, IL: Bah&aacute;&apos;&iacute; Publishing Trust, 1998 pocket-size edition. <a
        href="http://reference.bahai.org/en/t/b/TB/">online access</a>
</p>

<p>
    Barriopedro, David, Erich M. Fischer, J&uuml;rg Luterbacher, Ricardo M. Trigo, Ricardo
    Garc&iacute;a-Herrera, 2011: The Hot Summer of 2010: Redrawing the Temperature Record Map of Europe.
    <i>Science</i> 8 April 2011: Vol. 332 no. 6026 pp. 220-224.
</p>

<p>
    <i>Bell curve chart inspired by</i>: Cubasch, U., D. Wuebbles, D. Chen, M.C. Facchini, D.
    Frame, N. Mahowald, and J.-G. Winther, 2013: Introduction. In: <i>
        Climate
        Change 2013: The Physical Science Basis. Contribution of Working Group I
        to the Fifth Assessment Report of the Intergovernmental Panel on
        Climate Change
    </i> [Stocker, T.F., D. Qin, G.-K. Plattner, M. Tignor,
    S.K. Allen, J. Boschung, A. Nauels, Y. Xia, V. Bex and P.M. Midgley
    (eds.)]. Cambridge University Press, Cambridge, United Kingdom and New
    York, NY, USA. <a href="https://www.ipcc.ch/report/ar5/wg1/">online access</a><a>.</a>
</p><a>

    <p>
        Centers for Disease Control and Prevention [United States], 1995: Heat-Related Mortality
        &ndash; Chicago, July 1995. <i>Morbidity and Mortality Weekly Report</i>, 44:577-9.
    </p>

</a>
<p>
    <a>
        Environmental Protection Agency [United States], <i>Climate Impacts on Ecosystems</i>.
    </a><a href="http://www.epa.gov/climatechange/impacts-adaptation/ecosystems.html">
        Web site
        accessed
    </a> 2014-02-11.
</p>

<p>
    Environmental Protection Agency [United States], 2013: <i>
        Inventory of U.S. Greenhouse Gas
        Emissions and Sinks: 1990-2011
    </i>. <a href="http://www.epa.gov/climatechange/Downloads/ghgemissions">Web site accessed</a> 2014-02-11.
</p>


<p>
    Kirtman, B., S.B. Power, J.A. Adedoyin, G.J. Boer, R. Bojariu, I. Camilloni, F.J.
    Doblas-Reyes, A.M. Fiore, M. Kimoto, G.A. Meehl, M. Prather, A. Sarr, C. Sch&ouml;r, R. Sutton, G.J.
    van Oldenborgh, G. Vecchi and H.J. Wang, 2013: Near-term Climate Change: Projections and
    Predictability. In: <i>
        Climate Change 2013: The Physical Science Basis. Contribution of Working
        Group I to the Fifth Assessment Report of the Intergovernmental Panel on Climate Change
    </i>
    [Stocker, T.F., D. Qin, G.-K. Plattner, M. Tignor, S.K. Allen, J. Boschung, A. Nauels, Y. Xia, V.
    Bex and P.M. Midgley (eds.)]. Cambridge University Press, Cambridge, United Kingdom and New York,
    NY, USA. P982.
</p>

<p>
    Melillo, Jerry M., Terese (T.C.) Richmond, and Gary W. Yohe, Eds., 2014: <i>
        Climate Change Impacts in the United States:
        The Third National Climate Assessment
    </i> ("2014 National Climate Assessment"). U.S. Global Change Research Program, 841 pp. doi:10.7930/J0Z31WJ2. <a
        href="http://nca2014.globalchange.gov/">online access</a>.
</p>

<p>
    National Disaster Risk Reduction and Management Council [Philippines], 2013: NDRRMC Situation
    Report on the effects of typhoon Yolanda. <i>The Official Gazette</i>, December 30, 2013.
    <a
        href="http://www.gov.ph/2013/12/30/ndrrmc-situation-report-on-the-effects-of-typhoon-yolanda-december-30-2013-600-a-m/">
        Web site accessed
    </a> 2014-02-11.
</p>



<p>
    National Public Radio interview with Eric Klinenberg, 2013: <i>
        Neighborhood Connections Key To
        Surviving A Crisis
    </i>. <a href="http://www.npr.org/2013/01/03/168509385/neighborhood-connections-key-to-surving-a-crisis">
        Transcript
        accessed
    </a> on 2014-02-12.
</p>

<p>Philippine Statistics Authority, <i>Regional Profile: Eastern Visayas</i>. <a
        href="http://countrystat.bas.gov.ph/?cont=16&amp;r=8">Web site accessed</a> 2014-02-11.</p>

<p>
    Powell, James Lawrence, The Pie-Chart, <a href="http://www.jamespowell.org/PieChart/piechart.html">Web site
        accessed</a>,
    2014-02-13.
</p>

<p>
    Robine, Jean-Marie, Siu Lan K. Cheung, Sophie Le Roy, Herman Van Oyen, Clare Griffiths,
    Jean-Pierre Michel, Fran&cedilla;ois Richard Herrmann, 2008: Death toll exceeded 70,000 in Europe during
    the summer of 2003. <i>Comptes Rendus Biologies</i> 331 (2): 171&ndash;178.<a
        href="http://ec.europa.eu/health/ph_projects/2005/action1/docs/action1_2005_a2_15_en.pdf">online access
        (PDF)</a>.
</p>
